.carousel {
  position: relative;
  z-index: 0;
}

.slideWrap {
    min-height: 100vh;
    width: 100%;
    display: flex;
    padding: 80px;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;
    filter: sepia(100%);
    transition: filter 3.5s;

    > * {
      opacity: 1;
      transform:translateY(55px);
      transition: all 0.4s;
    }


.swiper-slide-active {
  .slideWrap {
    filter: sepia(0%);

    > * {
      opacity: 1;
      transform:none;

      @for $i from 0 to 15 {
        &:nth-child(#{$i + 1}) {
          animation-delay: $i * 0.1s + 0.3s;
        }
      }
      .btn {
        transition-delay: initial !important;
      }
    }
  }

  .textWrap {
    > * {
      opacity: 1;
      transform:none;

      @for $i from 0 to 15 {
        &:nth-child(#{$i + 1}) {
          animation-delay: $i * 0.1s + 0.3s;
        }
      }
    }
  }
}

    @media (max-width: 768px) and (orientation: landscape) {
        min-height: 110vh;
        padding: 70px 20px;
    }
    @media (max-width: 768px) and (orientation: portrait) {
        min-height: 80vh;
        padding: 70px 20px;
    }
}
    .textWrap {
        max-width: 900px;
        text-align: center;
        .tracking-in-expand {
            -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;}
        
        h2{
            font-size: 4.5em;
            line-height: 1.1;
            color: #fff;
            margin-bottom: 10px;
            text-shadow: 0 3px 5px rgba(0,0,0,0.5);
            @media (max-width: 500px) {
                font-size: 2.5em;
            }
        }
        p {
            font-size: 1em;
            color: #fff;
        }
        .btn {
            font-size: 1em;
            color: #fff;
            background-color: #000;
            display: inline-block;
            padding: 10px 30px;
            margin-top: 20px;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 2px;
            transition: 0.5s;

            &:hover {
                letter-spacing: 4px;
            }

            @-webkit-keyframes tracking-in-expand {
                0% {
                  letter-spacing: -0.5em;
                  opacity: 0;
                }
                40% {
                  opacity: 0.6;
                }
                100% {
                  opacity: 1;
                }
              }
              @keyframes tracking-in-expand {
                0% {
                  letter-spacing: -0.5em;
                  opacity: 0;
                }
                40% {
                  opacity: 0.6;
                }
                100% {
                  opacity: 1;
                }
              }
        }

        // >*{
        //     opacity: 0;
        //     transform: translateY(-45px);
        //     transition: all 1s;
        // }


    }


    .swiper-container {
      .swiper-button-prev,
      a.swiper-button-next {
        color: #fff;
        top: auto;
        bottom: 20px;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        background-color: #000;

        &:after {
          font-size: 22px;
          font-weight: bold;
        }
    }

    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
      left: 50%;
      margin-left: -44px;
      right: auto;
    }

    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
      right: auto;
      left: 50%;
      margin-left: 4px;
    }
  }