// Global
$container-width: 1280px;
$container-sm-width: 1000px;

// Font
$font-primary: 'Barlow', sans-serif;
$font-secondary: 'Roboto', sans-serif;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Define color variables
$primary-color: #F16718;
$secondary-color: #FF9B62;
$tertiary-color: #162542;
$accent-color: #7B8BAD;
$light-color: #E8EFF2;
$white-color: #FFFFFF;

// Desktop widescreen
$screen-widescreen: 1200px;

// Desktop normal screen
$screen-desktop: 992px;

// Tablet
$screen-tablet: 768px;

// Mobile
$screen-mobile: 576px;